.container {
	height: 100%;
	width: 1000px;
	margin: auto;
}
.words {
	height: 200px;
	width: 95%;
	margin: 20px 20px 60px 20px;
	font-size: 20px;
	line-height: 35px;
	font-family: sans-serif;
	font-weight: 400;
}
[href*="meta.wikimedia.org"] {
	color: #0645ad;
	text-decoration: none;
}
[href*="wikimediafoundation.org"] {
	color: #0645ad;
	text-decoration: none;
}
.images {
	table-layout: fixed;
	height: 100%;
	width: 1000px;
	border: 3px none;
}